
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
path.line {
  fill: none;
  stroke: #406693;
  stroke-width: 3px;
}
#mainDiv {
  width: 50%;
}
#plotDiv {
  width: 70%;
  margin-left: auto ;
  margin-right: auto ;
}
#tableDiv {
  height: 100%;
  width: 60%;
  margin-left: auto ;
  margin-right: auto ;
}
#speciesTable {
  margin-left: 3em;
  font-size: 0.75em;
/*  border: 1px solid gray;*/
}
.getData {
  fill: #ffffff;
  cursor: pointer;
}
.getDataText {
  pointer-events: none;
  fill: #5e96d7;
  font-size: .9em;
}
.zoomInText {
	fill: grey;
	font-size:.75em;
}
.zoomOut {
  fill: #ffffff;
  cursor: pointer;
}
.zoomOutText {
  pointer-events: none;
  fill: #5e96d7;
  font-size: .9em;
}
.zoomInText {
  font-size: 1em;
}
.zoomOverlay {
  pointer-events: all;
  fill: none;
}
.band {
  fill: none;
  stroke-width: 1px;
  stroke: red;
}
.y1, .y2 {
  font-size: 1.4em;
}

